.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.header__logo {
}
.header__nav {
    
}
.nav__link {

}