.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    padding-top: 20px;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.header__logo {
}
.header__nav {
    
}
.nav__link {
 font-size: 1.5rem;
margin-right: 3rem;
border: 1px solid #2E3434;
padding: 10px 20px;
border-radius: 20px;

&:last-child{
    margin-right: 0;
}
}